
@{
    ViewBag.Title = "notAuthorized";
}

<br />
<div class="alert alert-danger">
    <h2>You are only authorized to perform this action on your own profile.</h2>
</div>

@Html.ActionLink("Back to List", "Index")



