
@{
    ViewBag.Title = "notAuthorizedRecognition";
}

<br />
<div class="alert alert-danger">
    <strong>Danger!</strong> You are not authorized to change a recognition that you did not give.
</div>

<br />
@Html.ActionLink("Back to List", "Index")

