<div class="container-fluid bg-3 text-center">
    <h1>Our Core Values</h1>
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-4">
            <h><strong>Stewardship</strong></h>           
            @*<br /><img src="birds1.jpg" alt="Image">*@
            <p>Pratice Responsible Stewardship</p>
        </div>
        <div class="col-sm-4">
            <h><strong>Culture</strong></h>
            @*<br /><img src="birds1.jpg" alt="Image">*@
            <p>Invest in an Exceptional Culture</p>
        </div>
        <div class="col-sm-4">
            <h><strong>Delivery Excellence</strong></h>
            @*<br /><img src="birds1.jpg" alt="Image">*@
            <p>Commit to Delivery Excellence</p>
        </div>
    </div>
</div>
<br />
<br />
<br />

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-4">
            <h><strong>Innovation</strong></h>
            @*<br /><img src="birds1.jpg" alt="Image">*@
            <p>Strive to Innovate</p>
        </div>
        <div class="col-sm-4">
            <h><strong>Greater Good</strong></h>
            @*<br /><img src="birds1.jpg" alt="Image">*@
            <p>Ignite Passion for the Greater Good</p>
        </div>
        <div class="col-sm-4">
            <h><strong>Integrity and Openness</strong></h>
            @*<br /><img src="birds1.jpg" alt="Image">*@
            <p>Embrace Integrity and Openness</p>
        </div>
    </div>
</div>
<br />
<br />
<br />

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-12">
            <h><strong>Balance</strong></h>
            @*<br /><img src="birds1.jpg" alt="Image">*@
            <p>Live a Balanced Life</p>
        </div>
    </div>
</div>
