<div class="container-fluid bg-3 text-center">
    <h3>Our Core Vales</h3>
    <div class="row">
        <div class="col-sm-4">
            <h>Stewardship</h>
            <br /><img src="birds1.jpg" alt="Image">
            <p>Pratice responsible stewardship</p>
        </div>
        <div class="col-sm-4">
            <p>Culture</p>
            <img src="birds2.jpg" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Delivery Excellence</p>
            <img src="birds3.jpg" alt="Image">
        </div>
    </div>
</div>


<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-4">
            <p>Innovation</p>
            <img src="birds1.jpg" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Greater Good</p>
            <img src="birds2.jpg" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Integrity and Openness</p>
            <img src="birds3.jpg" alt="Image">
        </div>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-12">
            <p>Balance</p>
            <img src="birds1.jpg" alt="Image">
        </div>
    </div>
</div>
