<div class="container-fluid bg-3 text-center">
    <h1>Our Core Values</h1>
    <br />
    <br />

    <div class="row">
        <div class="col-sm-4">
            <h><strong>Stewardship</strong></h>
            <br />
            <br />
            <img classs="img-responsive" width="150px" height="" src="~/Images/stewardship.jpg">
            <br />
            <p>Pratice Responsible Stewardship</p>
        </div>
        <div class="col-sm-4">
            <h><strong>Culture</strong></h>
            <br />
            <br />
            <img classs="img-responsive" width="150px" height="" src="~/Images/culture.jpg">            
            <br />
            <p>Invest in an Exceptional Culture</p>
        </div>
        <div class="col-sm-4">
            <h><strong>Delivery Excellence</strong></h>
            <br />
            <br />
            <img classs="img-responsive" width="150px" height="" src="~/Images/deliveryExcellence.jpg">
            <br />
            <p>Commit to Delivery Excellence</p>
        </div>
    </div>
</div>
<br />
<br />


<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-4">
            <h><strong>Innovation</strong></h>
            <br />
            <br />
            <img classs="img-responsive" width="150px" height="" src="~/Images/innovation.jpg">
            <br />
            <p>Strive to Innovate</p>
        </div>
        <div class="col-sm-4">
            <h><strong>Greater Good</strong></h>
            <br />
            <br />
            <img classs="img-responsive" width="150px" height="" src="~/Images/greaterGood.jpg">
            <br />
            <p>Ignite Passion for the Greater Good</p>
        </div>
        <div class="col-sm-4">
            <h><strong>Integrity and Openness</strong></h>
            <br />
            <br />
            <img classs="img-responsive" width="150px" height="" src="~/Images/integrity.jpg">
            <br />
            <p>Embrace Integrity and Openness</p>
        </div>
    </div>
</div>
<br />
<br />


<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-12">
            <h><strong>Balance</strong></h>
            <br />
            <br />
            <img classs="img-responsive" width="150px" height="" src="~/Images/balance.jpg">
            <br />
            <p>Live a Balanced Life</p>
        </div>
    </div>
</div>
