@{
    ViewBag.Title = "Centric Contact Page";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    1215 Lyons Rd. Bldg. F<br />
    Dayton, OH 45458-1858<br />
    <abbr title="Phone">P:</abbr>
    888.781.7567
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Insert Email</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Insert Email</a>
</address>*@