@{
    ViewBag.Title = "Centric's Home Page";
}

<div class="jumbotron">
    <h1>Centric Consulting</h1>
    <p class="lead">Centric is a management consulting firm that guides companies in the search for answers to complex business and technology problems.</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-warning btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well well-sm"><h2>Core Values</h2></div>
        <p>
            Here is a list of our companies core values that we try to follow every single day.
        </p>
        <p><a class="btn btn-warning" href="https://centricconsulting.com/about-us/why-were-here/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="well well-sm"><h2>Recognize an Employee</h2></div>
        <p>Recognize an employee who has exemplified one our core values.</p>
        <p><a class="btn btn-warning" @Html.ActionLink("Recognitions", "Index", "Recognitions")</a></p>
    </div>
    <div class="col-md-4">
        <div class="well well-sm"><h2>Social Media</h2></div>
        <p>Follow us on all of our social media platforms!</p>
        <p><a class="btn btn-warning" href="https://www.facebook.com/CentricConsultingNational">Facebook &raquo;</a></p>
        <p><a class="btn btn-warning" href="https://twitter.com/centric">Twitter &raquo;</a></p>
        <p><a class="btn btn-warning" href="https://www.linkedin.com/company/centric-consulting/">LinkedIn &raquo;</a></p>
        <p><a class="btn btn-warning" href="https://www.instagram.com/centricconsulting/">Instagram &raquo;</a></p>
        <p><a class="btn btn-warning" href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">YouTube &raquo;</a></p>
    </div>

    </div>
