@{
    ViewBag.Title = "Centric's Home Page";
}

<div class="jumbotron">
    <h1>Centric Consulting</h1>
    <p class="lead">Centric is a management consulting firm that guides companies in the search for answers to complex business and technology problems.</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-warning btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well well-sm"><h2>Core Values</h2></div>
        <p>
            Insert Description Here
        </p>
        <p><a class="btn btn-warning" href="https://centricconsulting.com/about-us/why-were-here/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="well well-sm"><h2>Nominate an Employee</h2></div>
        <p>Insert Description Here</p>
        <p><a class="btn btn-warning" href="">Place Holder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="well well-sm"><h2>Employee Recognitions</h2></div>
        <p>Insert Description Here</p>
        <p><a class="btn btn-warning" href="">Place Holder &raquo;</a></p>
    </div>
</div>