
@{
    ViewBag.Title = "notAuthorized";
}

<br />
<div class="alert alert-danger">
    <strong>Danger!</strong> You are not authorized to change information that is not your own.
</div>

<br />
@Html.ActionLink("Back to List", "Index")

